.alerts {
    height: 5vh;
    overflow: hidden;
    width: 60%;
    margin: auto;
    text-align: center;
    .alerts-display {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        svg {
            width: 1.5rem;
        }
    }
}
