@use "../stylesheet/variables" as v;

.dark-mode {
    /* Par défaut */
    background-color: #212121;
    color: v.$color-peach;

    /* Search box */
    .setCity {
        .geolocalisationIcon {
            color: v.$color-peach;
        }
        button {
            background-color: v.$color-peach;
            color:#212121;
        }
    }

    /* Carousel */
    .slick-dots {
        li {
          button {
            background-color:black;
          }
          &.slick-active {
            button {
              background-color:v.$color-peach;
            }
          }
        }
      }

    .details-card img {
        background-color: v.$color-peach;
    }

    .days {
        background-color: #181616;
        color: v.$color-peach;

        .icon-display svg {
            color: v.$color-peach;
        }
    }

    .hour {
        background-color: #181616;
        color: v.$color-peach;

        .icon-display svg {
            color: v.$color-peach;
        }
    }

    .rain-time {
        color: v.$color-peach;
    }

    .suggestions {
        color: #181616;
    }

    
}