@use "variables" as v;

.logo {
    display: flex;
    justify-content: flex-start;
    flex-basis: 33%;
    @media screen and (min-width: v.$sm-breakpoint) {
        margin-right:1rem;
    }
    @media screen and (min-width: v.$md-breakpoint) {
        flex-basis: 33%;
        justify-content: flex-start;
    }

    img {
        width: 7rem;
        @media screen and (min-width: v.$md-breakpoint) {
            width: 10rem;
        }
    }
}