//2 div en forme de goutte toutes les 2 grace au radius
//celle en absolute prend en height le % de chance de pluie via le composant RainDrop
//avec la propriété style
.rain-drop {
  width: 5rem;
  height:5rem;
  background-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 70%;
  border-top-left-radius: 70%;
  border-bottom-left-radius: 50%;
  transform: rotate(-45deg);
  position: relative;
  overflow: hidden;
  border: 0.15rem solid white;
  margin: 1rem;
  margin-top: 3rem;
  .filled-raindrop{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #0000FF66;
    span {
      position: absolute;
      top:0;
      color: white;
      font-size: 0.8rem;
      font-weight:800;

    }
  }
}
  
  .rain-time{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: black;
  }
  
  