//2 div en forme de goutte toutes les 2 grace au radius
//celle en absolute prend en height le % de chance de pluie via le composant RainDrop
//avec la propriété style
.rain-drop {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
  position: relative;
  overflow: hidden;
  border: 0.15rem solid white;
  margin: 1rem;
  margin-top: 3rem;
  .rain-drop-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top-right-radius: 0;
    overflow: hidden;
  }

  .filled-raindrop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000FF66;
    border-radius: 50%;
    border-top-right-radius: 0;
    span {
      position: absolute;
      top: 0;
      color: white;
      font-size: 0.8rem;
    }
  }

  &.no-rain .rain-drop-inner:after {
    //pseudo class after qui genère un contenu (ici vide) esthétique à un élement (ici la div rain-drop-inner)
    content: "0%";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 0.5rem;
    background-color: #0000FF66; 
    transform: translate(-50%, -50%);
  }
}

  
.rain-time{
  font-size: 0.7rem;
  margin-bottom: 1rem;
  color: black;
}
  
  