///variables///
$color-carrousel: rgb(240, 142, 174);
$color-shadow:black;


// palette de couleurs choisies
$color-default : #DADA93;
$color-green : #9DE6CE;
$color-peach : #F8B993;
$color-blue : #ACDEE5;
$color-text : black;

