@use "./variables" as v;

//position et taille du meme
.weather-meme {
    display:flex;
    justify-content: center;
    .meme-display{
      border-radius: 1.5rem;
      width:auto;
      height: 12rem;
      @media screen and (min-width: v.$md-breakpoint) {
        height:20rem;
        width:auto;
      }
    }
    &.show-mobile {
      display: block;
      z-index: 0;
    }
  }