@use "variables" as v;

.week {

    .days {
        background-color: v.$color-carrousel;
        border-radius: 7%;
        padding: 0.5rem; 
        width: 5rem;
    }

     display: flex;
     text-align: center;
     justify-content: space-around;
     overflow-x: auto;
     height: 15rem;
     align-items: center;
}


.MiniCards{

    .hour {
        background-color: v.$color-carrousel;
        border-radius: 50%;
        padding: 0.5rem;
        width: 3.8rem;
        margin: 0.1rem;    
    }

    display: flex;
    text-align: center; 
    overflow-x: auto;
    height: 15rem;
}


.precip{

    .rain{
        padding: 0.5rem;
        margin: 1rem;
    }

    display: flex;
    text-align: center;
    overflow-x: auto;
    height: 15rem;
}

.ant-carousel {
    box-shadow: 0 0.5rem 2rem v.$color-shadow;
    margin: 1rem 0;
    height : 15rem !important;
    
  
    .slick-dots {
      li {
        button {
          width: 15px;
          height: 15px;
          box-shadow: 0 0.5rem 2rem v.$color-shadow;
        }
        &.slick-active {
          width: 60px;
          
          button {
            width: 60px;
          }
        }
      }
    }
  }

