@use "../stylesheet/variables" as v;

.navbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   .logo {
        width: 10rem;
   }
   
   input {
    width: 15rem;
    border: none;
   }
   button {
    border: none;
   }
}

.geolocalisationIcon {
   font-size:1.5rem;
   padding-top:5px;
}

@media (max-width: 768px) {
   .navbar {
      .logo {
           width: 6rem;
      }
      input {
       width: 10rem;
      }
   }
 }