.modal.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width:70vw;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    .details-card{
        flex-basis: 50%;
        text-align: center;
        font-size: 0.7rem;
      }
    .button {
        align-items: flex-end;
        padding: 1rem 2rem;
        font-size: 0.7rem;
        border: none;
        border-radius: 10px;
        background-color: red;
        box-shadow: inset 2px 2px 5px rgba(255,255,255,0.6),
                    inset -2px -2px 5px rgba(43,42,42,0.6);
    }
   
}

// .forecast-details {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
    

//   }
// .forecast{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     .forecast-details {
//       display: flex;
//       flex-wrap: wrap;
//       align-items: center;
//       justify-content: center;
//       .details-card{
//         flex-basis: 50%;
//         text-align: center;
//         font-size: 0.7rem;
//       }
//     }
//   }