@use "variables" as v;
@use 'alerts';
@use 'carrousel';
@use 'currentCity';
@use 'darkMode';
@use 'modal';
@use 'rainDrop';
@use 'searchBox';
@use 'splashScreen';
@use 'suggestionBox';
@use 'weatherImage';
@use 'weatherMeme';
@use 'weatherSkeleton';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  border: 0;
  margin: 0;
	padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .sun-background{
    background-color: v.$color-peach;
  }
  .cloudy-background {
    background-color: v.$color-green;
  }
  .rain-background {
    background-color: v.$color-blue; 
  }
  .default-background {
    background-color: v.$color-default;
  }
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
  height: 100vh;
}

.container h3 {
  text-align: center;
}

/* Toggle dark mode */
.icon {
  display: flex;
  align-items: center;
}

/* Toggle sound */
.sound-display {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  .sound-icon{
    font-size: 2rem;
  }
  .sound-check{
    outline: none;
    border: 1px solid v.$color-text; 
  }
}

/* Responsive for desktop */
@media screen and (min-width: v.$md-breakpoint) {
  main {
    margin-left: 100px;
    margin-right: 100px;
  .group {
    display:flex;
    align-items:center;
    section.currentWeatherForecast, section.currentWeatherImage {
      flex-basis:25%;
    }
    section.meme {
      flex-basis:50%;
    }
  }
}
}


//récup des class ant design pour pouvoir mettre en fond du toggle une image 🔇🔊
.muted-switch .ant-switch-handle::before {
  background-color: white; 
  background-image: url('../assets/icons/sound-mute.svg');
}

.unmuted-switch .ant-switch-handle::before {
  background-color: white; 
  background-image: url('../assets/icons/sound-display.svg');
}


















