@use '_weatherskeleton';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  width: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container h3 {
  text-align: center;
}

// CurrentCity Component style
.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  .city-name {
    font-size: 4.5rem;
    margin: 0 1rem;
    font-weight: 200;
  }
  .current-temp {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    font-weight: 300;
  }
}

//l'icone détail n'apparait que sur les écrans mobiles
.mobile-icon {
  display: block;
  margin-bottom: 1rem;
  width: 6rem;
}

//détail météo masqués sur mobile et déclenchés au clik
.weather-details {
  display: none;
  &.show-mobile {
    display: block;
    background-color: transparent;
    z-index:-1;
  }
}



@media (min-width: 768px) {
  .mobile-icon {
    //l'icone détail est masquée sur les tablettes et desktop
    display: none;
  }

  .weather-details {
    //la div weather details apparait sur tablette et desktop
    display: block;
  }
}


.sun-display{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
  padding: 0 1rem;
  .sun-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sun-icons{
      width: 1rem;
    }
  }
}

//div du détail au moment T
.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  .forecast-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .details-card {
    flex-basis: 30%;
    text-align: center;
    font-size: 0.8rem;
  }
}


.SplashScreen-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #BBCDD3;

  .LogoMemeteo {
    max-width: 60%;
  }
}

//taille de l'icone affiché à l'acceuil
.icon-display svg {
  // z-index: -10;
  // position: absolute;
  // top:-2rem;
  // right:-3rem;
  width: 6rem;
  height: 6rem;
}

//position et taille du meme
.weather-meme {
  width: 50%;
  margin: auto;
  .meme-display{
  border-radius: 1.5rem;
  width:15rem;
  height: 15rem;
  }
  &.show-mobile {
    display: block;
    z-index: 0;
  }
}

//position relative afin de position la modale en absolute en fonction
.carousel-container {
  position: relative;
  .days, .hour{
    .icon-display svg{
    width: 3rem;
    height: 3rem;
  }
}
}


//modal pour le détail d'un jour à venir au clik sur le composant week
.modal {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  backdrop-filter: blur(20px);
  width: 85%; 
  height: 20%; 
  max-width: 40rem;
  max-height: 25rem; 
  .modal-content{
    display: flex;
    flex-direction: col;
    justify-content: center;
    .details-card {
      flex-basis: 30%;
      text-align: center;
      font-size: 0.8rem;
    }
  }
}


