@use "variables" as v;
@use 'alerts';
@use 'carrousel';
@use 'currentCity';
@use 'darkMode';
@use 'logo';
@use 'modal';
@use 'rainDrop';
@use 'searchBox';
@use 'suggestionBox';
@use 'weatherImage';
@use 'weatherMeme';
@use 'weatherSkeleton';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  border: 0;
	padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.sun-background{
    background-color: v.$color-peach;
  }
  &.cloudy-background {
    background-color: v.$color-green;
  }
  &.rain-background {
    background-color: v.$color-blue; 
  }
  &.default-background {
    background-color: v.$color-default;
  }
  @media screen and (min-width: v.$sm-breakpoint) {
    padding:0 1rem;
    max-width: 80rem; //permet d'avoir des marges à gauche et à droite
    margin:0 auto; //permet de centrer horizontalement les div
  }
}


.container {
  
  margin: auto;
  position: relative;
  /* height: 100vh; */
}

.container h3 {
  text-align: center;
}

/* Drawer des params */
.ant-drawer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;

}

/* Responsive for desktop */
@media screen and (min-width: v.$md-breakpoint) {
  main {
  .group {
    display:flex;
    align-items:center;
    section.currentWeatherForecast, section.currentWeatherImage {
      flex-basis:25%;
    }
    section.meme {
      flex-basis:50%;
    }
  }
}
}

/* Settings icon */
.settings-icon {
  font-size:1.5rem;
  /* padding-top:10px;
  padding-left:10px; */
}


//récup des class ant design pour pouvoir mettre en fond du toggle une image 🔇🔊
.muted-switch .ant-switch-handle::before {
  background-color: white; 
  background-image: url('../assets/icons/sound-mute.svg');
}

.unmuted-switch .ant-switch-handle::before {
  background-color: white; 
  background-image: url('../assets/icons/sound-display.svg');
}

//récup des class ant design pour pouvoir mettre en fond du toggle une image 
.lightmode-switch .ant-switch-handle::before {
  background-color: white; 
  background-image: url('../assets/icons/light-mode.svg');
  background-repeat: no-repeat;
}

.darkmode-switch .ant-switch-handle::before {
  background-color: white; 
  background-image: url('../assets/icons/dark-mode.svg');
  background-repeat: no-repeat;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap:wrap;
  @media screen and (min-width: v.$md-breakpoint) {
    flex-wrap:nowrap;
  }

  .settings {
    flex-basis: 33%;
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: v.$sm-breakpoint) {
      margin-right:1rem;
    }
    @media screen and (min-width: v.$md-breakpoint) {
      order:1;
      display: flex;
    }
  }

}

.hidden {
  display:none;
}















